{{!< default}}

{{#contentFor "navbar"}}
    {{navigation}}
    {{> social-icons}}
{{/contentFor}}

{{#contentFor "header"}}
    <header>
        <div class="header-inner">
            <div class="description">
                {{@site.description}}
            </div>
            <div class="name">
                {{@site.title}}
            </div>
            <div class="page">
                BLOG
            </div>
            <div class="separator">

            </div>
        </div>
    </header>
    <style>
        header {
            background: transparent url({{@site.cover_image}}) center bottom/cover repeat scroll;
        }
        nav.topbar::after {
            background: transparent url({{@site.cover_image}}) center top/cover repeat scroll;
            background-position-y: -436px;
        }
    </style>
{{/contentFor}}

{{#contentFor "content"}}
    <section class="posts-index">
        {{#foreach posts}}
            <article>
                <div class="thumbnail">
                    <img src="{{feature_image}}" alt="" style="width: 100%">
                </div>
                <section class="details">
                    <div class="tags">
                        {{tags}}
                    </div>
                    <a href="{{url}}" class="title">
                        {{title}}
                    </a>
                    <div class="date">
                        {{date}}
                    </div>
                    <p class="excerpt">
                        {{excerpt words="26"}}
                    </p>
                    <a href="{{url}}" class="read-more">
                        Czytaj dalej
                    </a>
                </section>
            </article>
        {{/foreach}}
    </section>
    <section class='pagination'>
        {{pagination}}
    </section>
{{/contentFor}}

{{#contentFor "scripts"}}
    <script type="application/javascript">
        Macy.init({
            container: document.querySelector('.posts-index'),
            trueOrder: true,
            columns: 3,
            margin: 24,
            breakAt: {
                520: 2,
                400: 1
            }
        });
    </script>
{{/contentFor}}