{{!< default}}

{{#contentFor "header"}}
    <header>
        <div class="header-inner">
            <div class="description">
                {{@site.description}}
            </div>
            <div class="name">
                {{@site.title}}
            </div>
            <div class="page">
                BLOG
            </div>
            <div class="separator">

            </div>
        </div>
    </header>
    <style>
        header {
            background: transparent url({{@site.cover_image}}) center bottom/cover repeat scroll;
        }
    </style>
{{/contentFor}}

{{#contentFor "content"}}
    <div class="index-wrapper">
        <section class="posts-index">
            {{#foreach posts}}
                <article>
                    <div class="thumbnail">
                        <img src="{{feature_image}}" alt="" style="width: 100%">
                    </div>
                    <section class="details">
                        <div class="tags">
                            {{tags}}
                        </div>
                        <a href="{{url}}" class="title">
                            {{title}}
                        </a>
                        <div class="date">
                            {{date}}
                        </div>
                        <p class="excerpt">
                            {{excerpt words="26"}}
                        </p>
                        <a href="{{url}}" class="read-more">
                            Czytaj dalej
                        </a>
                    </section>
                </article>
            {{/foreach}}
        </section>
    </div>
    <section class='pagination'>
        {{pagination}}
    </section>
{{/contentFor}}

{{#contentFor "scripts"}}
    <script type="application/javascript">
        Macy.init({
            container: document.querySelector('.posts-index'),
            trueOrder: true,
            mobileFirst: true,
            margin: 24,
            columns: 1,
            breakAt: {
                940: 3,
                520: 2
            }
        });
    </script>
{{/contentFor}}